body {
  width: 100vw;
  background-color: #dadbd3;
  /*position: relative;*/
}

.bg-body {
  height: 200px;
  --bs-body-bg-rgb: 0, 150, 136;
}

.container-blocks {
  height: calc(100vh - 100px);
}

.list-contacts,
.main-msg-area {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-grey {
  background-color: #eaeaea;
}

.img-avatar {
  max-width: 50px;
  border-radius: 50%;
}

/*valutare se ottimizzare padding colonna sx*/
.nav,
.notifications,
.search,
.list-contacts,
.input-msg-area {
  padding: .5rem
}

.row {
  background-image: url(/img/mine.jpg);
}

.notifications span {
  font-size: .8rem;
}

.nav-right,
.input-area {
  margin-left: .3rem;
}

.card {
  width: 40%;
  padding: .7rem .7rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}

.card-time {
  position: absolute;
  right: 1px;
  bottom: 1px;
  font-size: .5rem;
}

.card-send {
  align-self: start;
  background-color: #ffffff;
}

.card-receive {
  align-self: end;
  background-color: #d5f9ba;
}

.list-contacts {
  margin-bottom: 0;
}