body {
  width: 100vw;
  background-color: #dadbd3;
  /*position: relative;*/
}

.bg-body {
  height: 200px;
  --bs-body-bg-rgb: 0, 150, 136;
}

.container-blocks {
  height: calc(100vh - 100px);
}

.list-contacts,
.main-msg-area {
  flex-grow: 1;
}

.bg-grey {
  background-color: #eaeaea;
}

.img-avatar {
  max-width: 50px;
  border-radius: 50%;
}

/*valutare se ottimizzare padding colonna sx*/
.nav,
.notifications,
.search,
.list-contacts,
.input-msg-area {
  padding: .5rem
}

.row {
  background-image: url(/img/mine.jpg);
}

.notifications span{
  font-size: .8rem;
}