<!DOCTYPE html>
<html lang="it">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
   <link rel="stylesheet" href="css/style.css">
   <title>Titolo</title>
</head>

<body>
   <div class="bg-body">
      <div id="app">
         <main class="py-5">
            <div class="container-xl">
               <div class="row d-flex justify-content-center g-0">

                  <!--LEFT SIDE-->
                  <div class="container-blocks col col-md-4 d-flex flex-column"
                     v-bind:class="onOffMessageBox ? 'd-none d-md-flex' : ''">

                     <!--USER NAV-->
                     <div class="nav bg-grey d-flex justify-content-between align-items-center">
                        <div class="user-info">
                           <img class="img-avatar" src="imgs/avatar_io.jpg" alt="avatar">
                           <span>Luigi</span>
                        </div>
                        <span class="user-options d-flex gap-3">
                           <span><i class="fa-solid fa-circle-notch"></i></span>
                           <span><i class="fa-solid fa-message"></i></span>
                           <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </span>
                     </div>
                     <!-- /USER NAV -->

                     <!--NOTIFICATIONS-->
                     <div class="notifications d-flex align-items-center">
                        <i class="fa-solid fa-bell-slash fs-4 rounded-circle border bg-white p-2"
                           style="--bs-aspect-ratio: 1/1"></i>
                        <div class="d-flex flex-column ps-2">
                           <span class="text-black">Ricevi notifiche di nuovi messaggi</span>
                           <span class="active-notif text-decoration-underline">Attiva notifiche desktop</span>
                        </div>
                     </div>
                     <!--/NOTIFICATIONS-->

                     <!-- SEARCH -->
                     <div class="search bg-white">
                        <input type="text" v-model="searchContact" class="w-100" placeholder="Cerca un contatto" name=""
                           id="">
                     </div>
                     <!-- /SEARCH -->

                     <!-- CONTACTS & CHAT LIST -->
                     <ul class="list-contacts list-group bg-white">
                        <button class="btn-contacts">
                           <!-- CONTACTS -->
                           <h6 class="p-1">Contatti</h6>
                           <li class="list-element list-group-item list-group-item-action d-flex py-3"
                              v-bind:class="singleContact.visible ? 'bg-body-secondary' : ''"
                              v-for="(singleContact) in filteredContacts" @click="selectContact(singleContact)">
                              <div>
                                 <img class="img-avatar" v-bind:src="'imgs/avatar' + singleContact.avatar + '.jpg'"
                                    alt="avatar">
                              </div>
                              <div class="d-flex flex-column px-4 me-auto">
                                 <span>{{singleContact.name}}</span>
                                 <span class="last-msg">{{singleContact.messages[singleContact.messages.length -
                                    1].message}}</span>
                              </div>
                              <div>
                                 <span>{{singleContact.messages[singleContact.messages.length - 1].date.slice(-8,
                                    -3)}}</span>
                              </div>
                           </li>
                           <!-- /CONTACTS -->

                           <!-- CHAT -->
                           <h6 class="p-1">Messaggi</h6>
                           <li class="list-element list-group-item list-group-item-action d-flex py-3"
                              v-bind:class="singleChat.visible ? 'bg-body-secondary' : ''"
                              v-for="(singleChat) in filteredChat" @click="selectContact(singleChat)">
                              <div>
                                 <img class="img-avatar" v-bind:src="'imgs/avatar' + singleChat.avatar + '.jpg'"
                                    alt="avatar">
                              </div>
                              <div class="d-flex flex-column px-4 me-auto">
                                 <span>{{singleChat.name}}</span>
                                 <!-- ordine temporale decrescente -->
                                 <span class="last-msg"
                                    v-for="(messages, index) in singleChat.messages.slice().reverse()">
                                    <span
                                       v-if="!printedMessage && messages.message.toLowerCase().includes(searchContact)">
                                       <!-- uso la variabile di stato printedMessage per stampare solo un messaggio -->
                                       {{messages.message}}<span class="d-none">{{ printedMessage = true }}</span>
                                    </span>
                                 </span>
                                 <span class="d-none">{{ printedMessage = false }}</span>
                              </div>
                              <div>
                                 <span>{{singleChat.messages[singleChat.messages.length - 1].date.slice(-8,
                                    -3)}}</span>
                              </div>
                           </li>
                           <!-- /CHAT -->
                        </button>
                     </ul>
                     <!-- /CONTACTS & CHAT LIST -->

                  </div>
                  <!-- /LEFT SIDE -->


                  <!--RIGHT SIDE-->
                  <div class="container-blocks col col-md-8  d-md-flex flex-column"
                     v-bind:class="onOffMessageBox ? 'd-flex' : 'd-none'">

                     <!--CONTACT NAV-->
                     <div class="nav nav-right bg-grey d-flex justify-content-between align-items-center">
                        <div class="contact-info">
                           <img class="img-avatar" v-bind:src="'imgs/avatar' + currentContact.avatar + '.jpg'"
                              alt="avatar">
                           <div class="d-inline-grid align-bottom">
                              <span>{{currentContact.name}}</span>
                              <div><span class="last-access">{{currentContact.messages[currentContact.messages.length -
                                    1].date.slice(-8, -3)}}</span></div>
                           </div>
                        </div>
                        <div class="contact-options d-flex gap-3">
                           <a class="d-md-none" href="" @click="!onOffMessageBox">
                              <i class="fa-solid fa-rotate-left"></i></a>
                           <span><i class="fa-solid fa-magnifying-glass"></i></span>
                           <span><i class="fa-solid fa-paperclip"></i></span>
                           <span><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                     </div>
                     <!-- /CONTACT NAV -->

                     <!--MESSAGE AREA-->
                     <div class="main-msg-area p-2 p-lg-5 d-flex flex-column">
                        <div class="card" v-for="singleMessage in currentContact.messages"
                           v-bind:class="[singleMessage.status === 'received' ? 'card-receive' : 'card-send']">
                           <span>{{singleMessage.message}}</span>
                           <span class="card-time">{{singleMessage.date.slice(-8, -3)}}</span>
                           <span class="menu-del">
                              <div class="btn-group">
                                 <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    data-bs-display="static" aria-expanded="false">
                                 </button>
                                 <ul class="dropdown-menu"
                                    v-bind:class="[((singleMessage.status === 'received') && (singleMessage.message.length < 20)) ? 'dropdown-menu-start' : 'dropdown-menu-end']">
                                    <li><a class="dropdown-item" @click="deleteMessage(singleMessage)" href="#">Elimina
                                          messaggio</a></li>
                                 </ul>
                              </div>
                           </span>
                        </div>
                     </div>
                     <!--/MESSAGE AREA-->

                     <!--INPUT AREA-->
                     <div class="input-area">
                        <div class="input-msg-area bg-grey d-flex align-items-center">
                           <div class="p-3">
                              <i class="fa-regular fa-face-smile"></i>
                           </div>
                           <div class="flex-grow-1">
                              <input type="text" class="w-100 border-0" placeholder="scrivi un messaggio"
                                 v-model="messageIn" @keyup.enter="sendChatMsg" name="" id="">
                           </div>
                           <div class="p-3">
                              <i class="fa-solid fa-microphone"></i>
                           </div>
                        </div>
                     </div>
                     <!--/INPUT AREA-->

                  </div>
                  <!--/RIGHT SIDE-->

               </div>
            </div>
         </main>
      </div>
   </div>
   <script src="js/main.js"></script>
</body>

</html>